<!doctype html>
<html prefix="og: http://ogp.me/ns#" lang="ja">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta charset="utf-8">
		<title>2カラムレイアウトサンプル</title>
		<meta name="description" content="">
		<meta name="keywords" content="">
		<meta name="robots" content="noindex, nofollow">
		<!--============================================== html_head -->
		<!--#include virtual="/common/inc/html_head.html" -->
		<!--============================================== /html_head -->
		<style type="text/css">
			.pre {
				width: 100%;
				max-width: 960px;
				border: 3px double #ddd;
				padding: 15px;
				margin: 15px 0 50px;
				font-size: 11px;
				overflow-x: auto;
			}
		</style>		
	</head>

	<body>
		<!--============================================== body_head -->
		<!--#include virtual="/common/inc/body_head.html" -->
		<!--============================================== /body_head -->

		<div class="wrapper">
			<!--============================================== header -->
			<!--#include virtual="/common/inc/header.html" -->
			<!--============================================== /header -->

			<div class="h1 _base_">
				<h1 class="h1__inner">
					<span class="__en txt_poppins">2 column</span>
					<span class="__txt">2カラムレイアウトサンプル</span>
				</h1>
			</div>
			
			<!-- .contents -->
			<div class="contents _col2_">
				<div class="contents__inner">
				
					<!-- .contents__body -->
					<article class="contents__body">
						<ul class="column column3 sp-column1 mb20">
							<li class="__col"><a href="/template/template1.html" class="btn _outline_ _m0_ wp100 wpMina _w-s_">見出し・タイトル・テキスト系</a></li>
							<li class="__col"><a href="/template/template2.html" class="btn _outline_ _m0_ wp100 wpMina _w-s_">カラム制御・左右回り込み系</a></li>
							<li class="__col"><a href="/template/template3.html" class="btn _outline_ _m0_ wp100 wpMina _w-s_">リスト・囲み罫系</a></li>
							<li class="__col"><a href="/template/template4.html" class="btn _outline_ _m0_ wp100 wpMina _w-s_">テーブル系・ボタン・ナビ系</a></li>
							<li class="__col"><a href="/template/template5.html" class="btn _outline_ _m0_ wp100 wpMina _w-s_">汎用制御・特定要素・その他</a></li>
						</ul>
						<ul class="column column3 sp-column1 mb60">
							<li class="__col"><a href="/template/column02-a.html" class="btn _outline_ _m0_ wp100 wpMina _w-s_">2カラムレイアウトサンプルA</a></li>
						</ul>

						
						<h2 class="h2">
							<span class="__jp">タイトルタイトルタイトルタイトル</span>
							<span class="__en">Title</span>
						</h2>
						<div class="pre">
							<pre><code>&lt;h2 class=&quot;h2&quot;&gt;
		&lt;span class=&quot;__jp&quot;&gt;タイトルタイトルタイトルタイトル&lt;/span&gt;
		&lt;span class=&quot;__en&quot;&gt;Title&lt;/span&gt;
	&lt;/h2&gt;</code></pre>
						</div>

						<h3 class="h3">
							<span class="__jp">タイトルタイトルタイトルタイトル</span>
							<span class="__en">Title</span>
						</h3>
						<div class="pre">
							<pre><code>&lt;h3 class=&quot;h3&quot;&gt;
		&lt;span class=&quot;__jp&quot;&gt;タイトルタイトルタイトルタイトル&lt;/span&gt;
		&lt;span class=&quot;__en&quot;&gt;Title&lt;/span&gt;
	&lt;/h3&gt;</code></pre>
						</div>

						<h4 class="h4">タイトルタイトルタイトルタイトル</h4>
						<div class="pre">
							<pre><code>&lt;h4 class=&quot;h4&quot;&gt;タイトルタイトルタイトルタイトル&lt;/h4&gt;</code></pre>
						</div>

						<h5 class="h5">class="h5" 小見出し</h5>
						<div class="pre">
							<pre><code>&lt;h5 class=&quot;h5&quot;&gt;class=&quot;h5&quot; 小見出し&lt;/h5&gt;</code></pre>
						</div>

						<h6 class="h6">class="h6" 小見出し</h6>
						<div class="pre">
							<pre><code>&lt;h6 class=&quot;h6&quot;&gt;class=&quot;h6&quot; 小見出し&lt;/h6&gt;</code></pre>
						</div>
						
					</article>
					<!-- .contents__body -->
					
					<!-- .contents__side -->
					<aside class="contents__side">
						サイドコンテンツサイドコンテンツサイドコンテンツサイドコンテンツサイドコンテンツサイドコンテンツサイドコンテンツサイドコンテンツ<br>
						サイドコンテンツサイドコンテンツサイドコンテンツサイドコンテンツサイドコンテンツサイドコンテンツ<br>
						サイドコンテンツサイドコンテンツサイドコンテンツサイドコンテンツサイドコンテンツサイドコンテンツ
					</aside>
					<!-- .contents__side -->
					
				</div>
				<!-- /.contents__inner -->
				
			</div>
			<!-- /.contents -->

			<!--============================================== footer -->
			<!--#include virtual="/common/inc/footer.html" -->
			<!--============================================== /footer -->
		</div>

		<!--============================================== html_foot -->
		<!--#include virtual="/common/inc/html_foot.html" -->
		<!--============================================== /html_foot -->
	</body>
</html>