<!doctype html>
<html prefix="og: http://ogp.me/ns#" lang="ja">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta charset="utf-8">
		<title>テンプレート：汎用制御・特定要素・その他</title>
		<meta name="description" content="">
		<meta name="keywords" content="">
		<meta name="robots" content="noindex, nofollow">
		<!--============================================== html_head -->
		<!--#include virtual="/common/inc/html_head.html" -->
		<!--============================================== /html_head -->
		<style type="text/css">
			.pre {
				width: 100%;
				max-width: 1200px;
				border: 3px double #ddd;
				padding: 15px;
				margin: 15px 0 50px;
				font-size: 11px;
				overflow-x: auto;
			}
		</style>		
	</head>

	<body>
		<!--============================================== body_head -->
		<!--#include virtual="/common/inc/body_head.html" -->
		<!--============================================== /body_head -->

		<div class="wrapper">
			<!--============================================== header -->
			<!--#include virtual="/common/inc/header.html" -->
			<!--============================================== /header -->

			<div class="h1 _base_ _narrow_">
				<h1 class="h1__inner">
					<span class="__en txt_poppins">Other</span>
					<span class="__txt">汎用制御・特定要素・その他</span>
				</h1>
			</div>
			
			<!-- .contents -->
			<div class="contents">
				<div class="contents__inner _narrow_">
					<ul class="column column3 sp-column1 mb20">
						<li class="__col"><a href="/template/template1.html" class="btn _outline_ _m0_ wp100 _w-s_">見出し・タイトル・テキスト系</a></li>
						<li class="__col"><a href="/template/template2.html" class="btn _outline_ _m0_ wp100 _w-s_">カラム制御・左右回り込み系</a></li>
						<li class="__col"><a href="/template/template3.html" class="btn _outline_ _m0_ wp100 _w-s_">リスト・囲み罫系</a></li>
						<li class="__col"><a href="/template/template4.html" class="btn _outline_ _m0_ wp100 _w-s_">テーブル系・ボタン・ナビ系</a></li>
						<li class="__col"><a href="/template/template5.html" class="btn _outline_ _m0_ wp100 _w-s_">汎用制御・特定要素・その他</a></li>
					</ul>
					<ul class="column column3 sp-column1 mb60">
						<li class="__col"><a href="/template/column02-a.html" class="btn _outline_ _m0_ wp100 _w-s_">2カラムレイアウトサンプルA</a></li>
					</ul>

				<h2 class="h2">
					<span class="__jp">汎用制御・特定要素・その他</span>
					<span class="__en">Other</span>
				</h2>
					
				<h3 class="h3">
					<span class="__jp">要素寄せ</span>
					<span class="__en">flex</span>
				</h3>
				<h4 class="h4">左寄せ  class="al-fl"</h4>
				<div class="al-fl">
					ああああああああああああああああ
				</div>
				<div class="pre">
					<pre><code>&lt;div class=&quot;al-fl&quot;&gt;
	ああああああああああああああああ
&lt;/div&gt;</code></pre>
				</div>

				<h4 class="h4">センター寄せ  class="al-fc"</h4>
				<div class="al-fc">
					ああああああああああああああああ
				</div>
				<div class="pre">
					<pre><code>&lt;div class=&quot;al-fc&quot;&gt;
	ああああああああああああああああ
&lt;/div&gt;</code></pre>
				</div>

				<h4 class="h4">センター寄せ  class="al-fr"</h4>
				<div class="al-fr">
					ああああああああああああああああ
				</div>
				<div class="pre">
					<pre><code>&lt;div class=&quot;al-fr&quot;&gt;
	ああああああああああああああああ
&lt;/div&gt;</code></pre>
				</div>


				<h3 class="h3">
					<span class="__jp">レスポンシブ対応iframe要素</span>
					<span class="__en">iframe</span>
				</h3>
				<h4 class="h4">Youtube,Google Map等埋込  class="iframe"</h4>
				<div class="iframe">
					<iframe width="1280" height="720" src="https://www.youtube.com/embed/u52_E55GVt0" allowfullscreen></iframe>
				</div>
				<div class="pre">
					<pre><code>&lt;div class=&quot;iframe&quot;&gt;
	&lt;iframe width=&quot;640&quot; height=&quot;360&quot; src=&quot;https://www.youtube.com/embed/sC-PQXQvaoo&quot; allowfullscreen&gt;&lt;/iframe&gt;
&lt;/div&gt;</code></pre>
				</div>

				<div class="iframe">
					<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d18332.60100274925!2d139.75585805149223!3d35.68250187152156!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x60188bfbd89f700b%3A0x277c49ba34ed38!2z5p2x5Lqs6aeF!5e0!3m2!1sja!2sjp!4v1487051789852" width="800" height="600" style="border:0" allowfullscreen></iframe>
				</div>
				<div class="pre">
					<pre><code>&lt;div class=&quot;iframe&quot;&gt;
	&lt;iframe src=&quot;https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d18332.60100274925!2d139.75585805149223!3d35.68250187152156!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x60188bfbd89f700b%3A0x277c49ba34ed38!2z5p2x5Lqs6aeF!5e0!3m2!1sja!2sjp!4v1487051789852&quot; width=&quot;800&quot; height=&quot;600&quot; style=&quot;border:0&quot; allowfullscreen&gt;&lt;/iframe&gt;
&lt;/div&gt;</code></pre>
				</div>

				<h3 class="h3">
					<span class="__jp">画像 Retina 対応</span>
					<span class="__en">Retina</span>
				</h3>
				<picture class="wp100">
					<source media="(min-width: 767.5px)" srcset="http://placehold.jp/100/009688/ffffff/1600x1200.png?text=PC%E7%94%A8%0A%EF%BC%881600x1200%EF%BC%89">
					<source media="(max-width: 767.4px)" srcset="http://placehold.jp/80/795548/ffffff/800x600.png?text=SP%E7%94%A8%0A%EF%BC%88800x600%EF%BC%89">
					<img src="http://placehold.jp/100/009688/ffffff/1600x1200.png?text=PC%E7%94%A8%0A%EF%BC%881600x1200%EF%BC%89" alt="" class="wp100">
				</picture>
				<div class="pre">
					<pre><code>&lt;picture class="wp100"&gt;
	&lt;source media="(min-width: 767.5px)" srcset="PC用.png"&gt;
	&lt;source media="(max-width: 767.4px)" srcset="SP用.png"&gt;
	&lt;img src="PC用.png" alt="" class="wp100"&gt;
&lt;/picture&gt;</code></pre>
				</div>
				
				<h3 class="h3">
					<span class="__jp">アコーディオン</span>
					<span class="__en">accordion</span>
				</h3>
				<div class="accordion-box">
					<div class="accordion">
						<span class="__txt">アコーディオンアコーディオンアコーディオンアコーディオンアコーディオンアコーディオン</span>
						<span class="__ico">
							<span class="__elem icon-arrow_down" aria-hidden="true"></span>
						</span>
					</div>
					<div class="accordion__hide">
						<p>この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。</p>
						<p>この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。</p>
					</div>
				</div>

				<div class="pre">
					<pre><code>&lt;div class=&quot;accordion-box&quot;&gt;
	&lt;div class=&quot;accordion&quot;&gt;
		&lt;span class=&quot;__txt&quot;&gt;アコーディオンアコーディオンアコーディオンアコーディオンアコーディオンアコーディオン&lt;/span&gt;
		&lt;span class=&quot;__ico&quot;&gt;
			&lt;span class=&quot;__elem icon-arrow_down&quot; aria-hidden=&quot;true&quot;&gt;&lt;/span&gt;
		&lt;/span&gt;
	&lt;/div&gt;
	&lt;div class=&quot;accordion__hide&quot;&gt;
		&lt;p&gt;この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。&lt;/p&gt;
		&lt;p&gt;この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。&lt;/p&gt;
	&lt;/div&gt;
&lt;/div&gt;</code></pre>
				</div>
				
				<h4 class="h4">アコーディオン（SP用）</h4>
				<div class="accordion-box">
					<div class="accordion-sp">
						<span class="__txt">アコーディオンアコーディオンアコーディオンアコーディオンアコーディオンアコーディオン</span>
						<span class="__ico">
							<span class="__elem icon-arrow_down" aria-hidden="true"></span>
						</span>
					</div>
					<div class="accordion__hide">
						<p>この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。</p>
						<p>この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。</p>
					</div>
				</div>

				<div class="pre">
					<pre><code>&lt;div class=&quot;accordion-box&quot;&gt;
	&lt;div class=&quot;accordion-sp&quot;&gt;
		&lt;span class=&quot;__txt&quot;&gt;アコーディオンアコーディオンアコーディオンアコーディオンアコーディオンアコーディオン&lt;/span&gt;
		&lt;span class=&quot;__ico&quot;&gt;
			&lt;span class=&quot;__elem icon-arrow_down&quot; aria-hidden=&quot;true&quot;&gt;&lt;/span&gt;
		&lt;/span&gt;
	&lt;/div&gt;
	&lt;div class=&quot;accordion__hide&quot;&gt;
		&lt;p&gt;この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。&lt;/p&gt;
		&lt;p&gt;この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。&lt;/p&gt;
	&lt;/div&gt;
&lt;/div&gt;</code></pre>
				</div>

					
				
				</div>
			</div>
			<!-- /.contents -->

			<!--============================================== footer -->
			<!--#include virtual="/common/inc/footer.html" -->
			<!--============================================== /footer -->
		</div>

		<!--============================================== html_foot -->
		<!--#include virtual="/common/inc/html_foot.html" -->
		<!--============================================== /html_foot -->
	</body>
</html>