<!doctype html>
<html prefix="og: http://ogp.me/ns#" lang="ja">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta charset="utf-8">
		<title>テンプレート：見出し・タイトル・テキスト系</title>
		<meta name="description" content="">
		<meta name="keywords" content="">
		<meta name="robots" content="noindex, nofollow">
		<!--============================================== html_head -->
		<!--#include virtual="/common/inc/html_head.html" -->
		<!--============================================== /html_head -->
		<style type="text/css">
			.pre {
				width: 100%;
				max-width: 1200px;
				border: 3px double #ddd;
				padding: 15px;
				margin: 15px 0 50px;
				font-size: 11px;
				overflow-x: auto;
			}
		</style>		
	</head>

	<body>
		<!--============================================== body_head -->
		<!--#include virtual="/common/inc/body_head.html" -->
		<!--============================================== /body_head -->

		<div class="wrapper">
			<!--============================================== header -->
			<!--#include virtual="/common/inc/header.html" -->
			<!--============================================== /header -->

			<div class="h1 _base_ _narrow_">
				<h1 class="h1__inner">
					<span class="__en txt_poppins">Title</span>
					<span class="__txt">見出し・タイトル・テキスト系</span>
				</h1>
			</div>

			<!-- .contents -->
			<div class="contents">
				<div class="contents__inner _narrow_">
					
					<ul class="column column3 sp-column1 mb20">
						<li class="__col"><a href="/template/template1.html" class="btn _outline_ _m0_ wp100 _w-s_">見出し・タイトル・テキスト系</a></li>
						<li class="__col"><a href="/template/template2.html" class="btn _outline_ _m0_ wp100 _w-s_">カラム制御・左右回り込み系</a></li>
						<li class="__col"><a href="/template/template3.html" class="btn _outline_ _m0_ wp100 _w-s_">リスト・囲み罫系</a></li>
						<li class="__col"><a href="/template/template4.html" class="btn _outline_ _m0_ wp100 _w-s_">テーブル系・ボタン・ナビ系</a></li>
						<li class="__col"><a href="/template/template5.html" class="btn _outline_ _m0_ wp100 _w-s_">汎用制御・特定要素・その他</a></li>
					</ul>
					<ul class="column column3 sp-column1 mb60">
						<li class="__col"><a href="/template/column02-a.html" class="btn _outline_ _m0_ wp100 _w-s_">2カラムレイアウトサンプルA</a></li>
					</ul>
				
					
					<h2 class="h2">
						<span class="__jp">タイトルタイトルタイトルタイトル</span>
						<span class="__en">Title</span>
					</h2>
					<div class="pre">
						<pre><code>&lt;h2 class=&quot;h2&quot;&gt;
	&lt;span class=&quot;__jp&quot;&gt;タイトルタイトルタイトルタイトル&lt;/span&gt;
	&lt;span class=&quot;__en&quot;&gt;Title&lt;/span&gt;
&lt;/h2&gt;</code></pre>
					</div>

					<h3 class="h3">
						<span class="__jp">タイトルタイトルタイトルタイトル</span>
						<span class="__en">Title</span>
					</h3>
					<div class="pre">
						<pre><code>&lt;h3 class=&quot;h3&quot;&gt;
	&lt;span class=&quot;__jp&quot;&gt;タイトルタイトルタイトルタイトル&lt;/span&gt;
	&lt;span class=&quot;__en&quot;&gt;Title&lt;/span&gt;
&lt;/h3&gt;</code></pre>
					</div>

					<h4 class="h4">タイトルタイトルタイトルタイトル</h4>
					<div class="pre">
						<pre><code>&lt;h4 class=&quot;h4&quot;&gt;タイトルタイトルタイトルタイトル&lt;/h4&gt;</code></pre>
					</div>

					<h5 class="h5">class="h5" 小見出し</h5>
					<div class="pre">
						<pre><code>&lt;h5 class=&quot;h5&quot;&gt;class=&quot;h5&quot; 小見出し&lt;/h5&gt;</code></pre>
					</div>

					<h6 class="h6">class="h6" 小見出し</h6>
					<div class="pre">
						<pre><code>&lt;h6 class=&quot;h6&quot;&gt;class=&quot;h6&quot; 小見出し&lt;/h6&gt;</code></pre>
					</div>


					<h2 class="h2">
						<span class="__jp">文字サイズ</span>
						<span class="__en">Font size</span>
					</h2>
				<div class="text10">ああああああああああああああああ</div>
				<div class="text12">ああああああああああああああああ</div>
				<div class="text14">ああああああああああああああああ</div>
				<div class="text16">ああああああああああああああああ</div>
				<div class="text18">ああああああああああああああああ</div>
				<div class="text20">ああああああああああああああああ</div>
				<div class="text22">ああああああああああああああああ</div>
				<div class="text24">ああああああああああああああああ</div>
				<div class="pre">
					<pre><code>&lt;div class=&quot;text10&quot;&gt;ああああああああああああああああ&lt;/div&gt;
&lt;div class=&quot;text12&quot;&gt;ああああああああああああああああ&lt;/div&gt;
&lt;div class=&quot;text14&quot;&gt;ああああああああああああああああ&lt;/div&gt;
&lt;div class=&quot;text16&quot;&gt;ああああああああああああああああ&lt;/div&gt;
&lt;div class=&quot;text18&quot;&gt;ああああああああああああああああ&lt;/div&gt;
&lt;div class=&quot;text20&quot;&gt;ああああああああああああああああ&lt;/div&gt;
&lt;div class=&quot;text22&quot;&gt;ああああああああああああああああ&lt;/div&gt;
&lt;div class=&quot;text24&quot;&gt;ああああああああああああああああ&lt;/div&gt;</code></pre>
				</div>

					<h2 class="h2">
						<span class="__jp">文字色</span>
						<span class="__en">Font Color</span>
					</h2>
				<div class="textRed">ああああああああああああああああ</div>
				<div class="pre">
					<pre><code>&lt;div class=&quot;textRed&quot;&gt;ああああああああああああああああ&lt;/div&gt;</code></pre>
				</div>

					<h2 class="h2">
						<span class="__jp">文字ボールド</span>
						<span class="__en">Font Bold</span>
					</h2>
				<div class="textNormal">ああああああああああああああああ</div>
				<div class="textBold">ああああああああああああああああ</div>
				<div class="pre">
					<pre><code>&lt;div class=&quot;textNormal&quot;&gt;ああああああああああああああああ&lt;/div&gt;
&lt;div class=&quot;textBold&quot;&gt;ああああああああああああああああ&lt;/div&gt;</code></pre>
				</div>

				<h2 class="h2">
					<span class="__jp">字下げ</span>
					<span class="__en">Indent</span>
				</h2>
				<div class="indent"><span class="indent__item">※</span>この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。</div>
				<div class="indent _space_"><span class="indent__item">※1</span>この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。</div>
				<div class="pre">
					<pre><code>&lt;div class="indent"&gt;
	&lt;span class="indent__item"&gt;※&lt;/span&gt;
	この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。
&lt;/div&gt;
					
&lt;div class="indent _space_"&gt;
	&lt;span class="indent__item"&gt;※1&lt;/span&gt;
	この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。
&lt;/div&gt;</code></pre>
				</div>

				<h2 class="h2">
					<span class="__jp">テキストリンク</span>
					<span class="__en">Text Link</span>
				</h2>
				<p class="mb20"><a href="#" class=""><span class="__txt">テキストリンク</span></a>文章はいります。文章はいります。文章はいります。文章はいります。文章はいります。</p>
				<p class="link-arrow mb20">
					<span class="link-arrow__ico icon-arrow_right" aria-hidden="true"></span>
					<a href="#" class="link-arrow__link"><span class="__txt">テキストリンクテキストリンクテキストリンクテキストリンク</span></a>
				</p>
				<p class="link-arrow">
					<span class="link-arrow__ico icon-arrow_right" aria-hidden="true"></span>
					<a href="#" class="link-arrow__link"><span class="__txt">テキストリンクテキストリンクテキストリンクテキストリンクテキストリンクテキストリンクテキストリンクテキストリンクテキストリンクテキストリンクテキストリンクテキストリンクテキストリンクテキストリンクテキストリンクテキストリンク</span></a>
				</p>
				<div class="pre">
					<pre><code>&lt;p&gt;&lt;a href="#"&gt;テキストリンク&lt;/a&gt;ああああああああああああああああ&lt;/p&gt;
&lt;p class="link-arrow"&gt;
	&lt;span class="link-arrow__ico icon-angle-right1"&gt;&lt;/span&gt;
	&lt;a href="#" class="link-arrow__link"&gt;テキストリンクテキストリンクテキストリンクテキストリンク&lt;/a&gt;
&lt;/p&gt;
&lt;p class="link-arrow"&gt;
	&lt;span class="link-arrow__ico icon-angle-right1"&gt;&lt;/span&gt;
	&lt;a href="#" class="link-arrow__link"&gt;テキストリンクテキストリンクテキストリンクテキストリンクテキストリンクテキストリンクテキストリンクテキストリンクテキストリンクテキストリンクテキストリンクテキストリンクテキストリンクテキストリンクテキストリンクテキストリンク&lt;/a&gt;
&lt;/p&gt;</code></pre>
				</div>


				</div>
			</div>
			<!-- /.contents -->
			
			<!--============================================== footer -->
			<!--#include virtual="/common/inc/footer.html" -->
			<!--============================================== /footer -->
		</div>

		<!--============================================== html_foot -->
		<!--#include virtual="/common/inc/html_foot.html" -->
		<!--============================================== /html_foot -->
	</body>
</html>