<!doctype html>
<html prefix="og: http://ogp.me/ns#" lang="ja">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta charset="utf-8">
		<title>テンプレート：リスト・囲み罫</title>
		<meta name="description" content="">
		<meta name="keywords" content="">
		<meta name="robots" content="noindex, nofollow">
		<!--============================================== html_head -->
		<!--#include virtual="/common/inc/html_head.html" -->
		<!--============================================== /html_head -->
		<style type="text/css">
			.pre {
				width: 100%;
				max-width: 1200px;
				border: 3px double #ddd;
				padding: 15px;
				margin: 15px 0 50px;
				font-size: 11px;
				overflow-x: auto;
			}
		</style>		
	</head>

	<body>
		<!--============================================== body_head -->
		<!--#include virtual="/common/inc/body_head.html" -->
		<!--============================================== /body_head -->

		<div class="wrapper">
			<!--============================================== header -->
			<!--#include virtual="/common/inc/header.html" -->
			<!--============================================== /header -->

			<div class="h1 _base_ _narrow_">
				<h1 class="h1__inner">
					<span class="__en txt_poppins">List &amp; box</span>
					<span class="__txt">リスト・囲み罫系</span>
				</h1>
			</div>
			
			<!-- .contents -->
			<div class="contents">
				<div class="contents__inner _narrow_">
					<ul class="column column3 sp-column1 mb20">
						<li class="__col"><a href="/template/template1.html" class="btn _outline_ _m0_ wp100 _w-s_">見出し・タイトル・テキスト系</a></li>
						<li class="__col"><a href="/template/template2.html" class="btn _outline_ _m0_ wp100 _w-s_">カラム制御・左右回り込み系</a></li>
						<li class="__col"><a href="/template/template3.html" class="btn _outline_ _m0_ wp100 _w-s_">リスト・囲み罫系</a></li>
						<li class="__col"><a href="/template/template4.html" class="btn _outline_ _m0_ wp100 _w-s_">テーブル系・ボタン・ナビ系</a></li>
						<li class="__col"><a href="/template/template5.html" class="btn _outline_ _m0_ wp100 _w-s_">汎用制御・特定要素・その他</a></li>
					</ul>
					<ul class="column column3 sp-column1 mb60">
						<li class="__col"><a href="/template/column02-a.html" class="btn _outline_ _m0_ wp100 _w-s_">2カラムレイアウトサンプルA</a></li>
					</ul>
				
					<h2 class="h2">
						<span class="__jp">リスト</span>
						<span class="__en">List</span>
					</h2>
				<h3 class="h4">丸 class"list _list-circle_"</h3>
				<ul class="list _list-circle_">
					<li class="list__item">あああああああああああああああああああ</li>
					<li class="list__item">あああああああああああああああああああ</li>
					<li class="list__item">ああああああああああ</li>
				</ul>
				<div class="pre">
					<pre><code>&lt;ul class="list _list-circle_"&gt;
	&lt;li class="list__item"&gt;あああああああああああああああああああ&lt;/li&gt;
	&lt;li class="list__item"&gt;あああああああああああああああああああ&lt;/li&gt;
	&lt;li class="list__item"&gt;ああああああああああ&lt;/li&gt;
&lt;/ul&gt;</code></pre>
				</div>

				<h3 class="h4">丸-オレンジ class"list _list-circle_ _orange_"</h3>
				<ul class="list _list-circle_ _orange_">
					<li class="list__item">あああああああああああああああああああ</li>
					<li class="list__item">あああああああああああああああああああ</li>
					<li class="list__item">ああああああああああ</li>
				</ul>
				<div class="pre">
					<pre><code>&lt;ul class="list _list-circle_ _orange_"&gt;
	&lt;li class="list__item"&gt;あああああああああああああああああああ&lt;/li&gt;
	&lt;li class="list__item"&gt;あああああああああああああああああああ&lt;/li&gt;
	&lt;li class="list__item"&gt;ああああああああああ&lt;/li&gt;
&lt;/ul&gt;</code></pre>
				</div>

				<h3 class="h4">数字</h3>
				<ol class="list-number">
					<li class="list-number__item">あああああああああああああああああああ</li>
					<li class="list-number__item">あああああああああああああああああああ</li>
					<li class="list-number__item">ああああああああああ</li>
				</ol>
				<div class="pre">
					<pre><code>&lt;ol class="list-number"&gt;
	&lt;li class="list-number__item"&gt;あああああああああああああああああああ&lt;/li&gt;
	&lt;li class="list-number__item"&gt;あああああああああああああああああああ&lt;/li&gt;
	&lt;li class="list-number__item"&gt;ああああああああああ&lt;/li&gt;
&lt;/ol&gt;</code></pre>
				</div>

					
					<h2 class="h2">
						<span class="__jp">囲み</span>
						<span class="__en">Box</span>
					</h2>
				<h3 class="h4">白×ボーダー　class="box _white_ _outline_"</h3>
				<div class="box _white_ _outline_">ああああああああああああああああああああああああああああああああああああああ</div>
				<div class="pre">
					<pre><code>&lt;div class="box _white_ _outline_"&gt;
	ああああああああああああああああああああああああああああああああああああああ
&lt;/div&gt;</code></pre>
				</div>
					
				<h3 class="h4">グレー　class="box _gray_"</h3>
				<div class="box _gray_">ああああああああああああああああああああああああああああああああああああああ</div>
				<div class="pre">
					<pre><code>&lt;div class="box _gray_"&gt;
	ああああああああああああああああああああああああああああああああああああああ
&lt;/div&gt;</code></pre>
				</div>



				</div>
			</div>
			<!-- /.contents -->

			<!--============================================== footer -->
			<!--#include virtual="/common/inc/footer.html" -->
			<!--============================================== /footer -->
		</div>

		<!--============================================== html_foot -->
		<!--#include virtual="/common/inc/html_foot.html" -->
		<!--============================================== /html_foot -->
	</body>
</html>